#footer {
	background: #323232;
	padding: 20px 0px;
}

#footer a {
	color: white;
}

#header {
	padding: 20px;
	background-image: url("../img/fondo.jpg");
	background-attachment: fixed;
}

#navbar {
	background: #323232;
}

#navbar a {
	font-weight: bold;
	color: white;
}

#navbar-superior{
	padding: 20px;
}

#dropdown-menu{
	background-color: #323232;

}

#dropdown-menu a:hover{
	background-color: black;
}
.card-body {
	background: #323232;
	color: white;
}

.collapse .card-body {
	background: #323232;
	color: white;
	text-align: center;
}

#main {
	background: black;
}
#main-politicas {
	background: black;
	color: white;
}

#main-contactanos {
	padding: 20px;
	background-image: url("../img/fondo-contactanos.jpg");
}

#main-comercializacion button h3{
	color: white;
}

#main .carousel-inner img {
	max-height: 80vh;
	object-fit: contain;
}

#main-comercializacion {
	padding: 20px;
	background-image: url("../img/como_pagar.jpg");
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo{
	display:flex;
	height: 200px;
}

#carouselExampleIndicators{
	padding-top: 20px;
}

#accordionExample .card{
	background-color: #323232;
}

.card-body{
	text-align: justify;
}

/* ADMINISTRADOR */


#mestradmin {
	background: white;
}

#ver_detalle{
	color: white;
	text-align: justify;
	background: black;
}

#ver_detalle h1{
	text-align: center;
	line-height: 2;

}
