#footer {
	background: #323232;
	padding: 20px 0px;
}

#footer a {
	color: white;
}

#row-politicas {footer
	text-align: right;
}

#header {
	padding: 20px;
	background-image: url("../img/fondo.jpg");
}

#navbar {
	background: #323232;
}

#navbar a {
	font-weight: bold;
	color: white;
}

.card-body {
	background: black;
	color: white;
}

#main {
	background: black;
	/* background-image: url("../img/fondo.jpg"); */
}
#main-politicas {
	background: black;
	color: white;
}

#main-contactanos {
	padding: 20px;
	background:black;
}

#main .carousel-inner img {
	max-height: 80vh;
	object-fit: contain;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo{
	display:flex;
  	margin:0 auto;
}

#carouselExampleIndicators{
	padding-top: 20px;
}
