#footer {
	background: #323232;
	padding: 20px 0px;
}

#footer a {
	color: white;
}

#row-politicas {footer
	text-align: right;
}

#header {
	padding: 20px;
	background-image: url("../img/fondo.jpg");
}

#body {
	padding-top:60px;
}

#navbar {
	background: #323232;
}

#navbar a {
	font-weight: bold;
	color: white;
}

.card-body {
	background: #323232;
}

.card-body {
	color: white;
}

/* .col-md-6 {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#main {
	background-image: url("../img/fondo.jpg");
}
#main-politicas {
	background: black;
	color: white;
}

#main-contactanos {
	padding: 20px;
	background:black;
}
#main {
	background-color: black;
}

#main .carousel-inner img {
	max-height: 80vh;
	object-fit: contain;
}
